body {
    height: 100vh;
    width: 100vw;
    background-color: #6EB819;
    position: absolute;
    display: block;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: 	#EFF6E7;
    font-size: 80px;

}
h2 {
    color: black;
    font-size: 2em;
}
